*{
    margin:0;
    font-family: 'Work Sans', sans-serif;
}
/* header style */
.main-header{
    height: 701px;
    background-image: url(/images/banner/banner1.png);
    background-repeat: no-repeat; 
  padding-top: 50px;  
  padding-right: 230px;
  margin-bottom: 105px;
}
.second-header{
    text-align: right;
    margin-top: 250px;
}
.title{
display: inline-block;
width: 30%;
font-weight: 700;
font-size: 50px;
line-height: 60px;
text-align: right;
color: #151414;
margin-bottom: 20px;
}
.discreption{
    display: inline-block;
    padding-left: 700px;
    line-height: 28px;
color: #444343;
margin-bottom: 30px;
}

.btn-header{
    width: 160px;
    height: 64px;
    color: #FFFFFF;
    background-color:orangered;
    border: 0;
    border-radius: 5px;
}

/* middle section style */
.second-section{
    display: flex;
    margin: 100px;
}
.intodaction{
    display: inline-block;
    margin: auto;
    margin-left: 90px;
}
.second-title{
    font-weight: 700;
font-size: 40px;
line-height: 47px;
color: #151414;
}
.second-description{
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;
}
.list{
    line-height:30px;
    color: #444343;
}
.list>p>i{
    color: aquamarine;
}